.body {
  display: flex;
  min-width: 100%;
  justify-content: space-around;
}

.body .building_base {
  flex: 3;
  /* min-width: 500px; */
  min-height: 90vh;
}

.building_base iframe {
  min-width: 90%;
  min-height: 100%;
}

.body .section {
  flex: 1;
  min-height: 90vh;
  /* min-width: 500px; */
  /* background-color: rebeccapurple; */
}